{% extends "base.html" %}

{% block head %}

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<script type="text/javascript">
$(document).ready(function() {
    $("textarea").focus()
});
</script>

{% endblock %}


{% block body %}

<div class="span8 offset2 topspace bottomspace">

<form action="/" method="post">

<div>
<textarea class="big" style="width: 100%; height: 300px;" name="text" placeholder="Enter your text here">
</textarea>
</div>

<div class="span3 offset3">
<input type="submit" value="Stressify!" class="btn btn-default btn-lg big">
</div>
</form>

</div>

{% endblock %}


